@page "{id:int?}"
@model UserProfileModel
@{
    Layout = "_MainLayout";
    dynamic dict = Locale.GetDictionary("Scada.Web.Pages.UserProfile");
    ViewBag.Title = dict.PageTitle;
}

@section Styles {
    <link href="~/css/pages/user-profile.min.css" rel="stylesheet" asp-append-version="true" />
}

<h1>@dict.PageTitle</h1>

<div class="user-info">
    <table class="table">
        <tbody>
            <tr>
                <td>@dict.lblUserID</td>
                <td>@Model.UserID</td>
            </tr>
            <tr>
                <td>@dict.lblUsername</td>
                <td>@Model.Username</td>
            </tr>
            <tr>
                <td>@dict.lblRole</td>
                <td>@Model.RoleName</td>
            </tr>
            <tr>
                <td>@dict.lblTimeZone</td>
                <td>@Model.TimeZone</td>
            </tr>
        </tbody>
    </table>
</div>
