@page
@model EventsModel
@inject PluginContext pluginContext 
@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Events";
    dynamic dict = Locale.GetDictionary("Scada.Web.Plugins.PlgMain.Areas.Main.Pages.Events");
}

@section Styles {
    <link href="~/plugins/Main/css/events.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/plugins/Main/js/table-common.js" asp-append-version="true"></script>
    <script src="~/plugins/Main/js/events.js" asp-append-version="true"></script>
    <script>
        archiveBit = @Model.ArchiveBit;
        pluginOptions = @WebUtils.ObjectToJs(pluginContext.Options);
    </script>
}

<div id="divToolbar" class="toolbar"></div>
<div id="divTableWrapper" class="table-wrapper hidden">
    <table id="tblEvents">
        <thead>
            <tr>
                <th>@dict.TimeCol</th>
                <th>@dict.ObjCol</th>
                <th>@dict.DevCol</th>
                <th>@dict.CnlCol</th>
                <th>@dict.DescrCol</th>
                <th>@dict.SeverityCol</th>
                <th>@dict.AckCol</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="divLoading" class="box-center fs-2 text-secondary">@dict.Loading</div>
<div id="divNoEvents" class="box-center fs-2 text-secondary hidden">@dict.NoEvents</div>
