@{
    dynamic dict = Locale.GetDictionary(typeof(MimicEditModel).FullName + ".FontModal");
}
<!-- Font modal -->
<div id="divFontModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-truncate">@dict.PageTitle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="frmFontModal" spellcheck="false">
                    <div class="form-check mb-3">
                        <input type="checkbox" id="fontModal_chkInherit" class="form-check-input" value="">
                        <label class="form-check-label" for="fontModal_chkInherit">@dict.lblInherit</label>
                    </div>
                    <div class="mb-3">
                        <label id="fontModal_lblName" for="fontModal_txtName" class="form-label">@dict.lblName</label>
                        <input id="fontModal_txtName" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label id="fontModal_lblSize" for="fontModal_txtSize" class="form-label">@dict.lblSize</label>
                        <input id="fontModal_txtSize" type="number" class="form-control">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="fontModal_chkBold" class="form-check-input" value="">
                        <label id="fontModal_lblBold" class="form-check-label" for="fontModal_chkBold">@dict.lblBold</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="fontModal_chkItalic" class="form-check-input" value="">
                        <label id="fontModal_lblItalic" class="form-check-label" for="fontModal_chkItalic">@dict.lblItalic</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="fontModal_chkUnderline" class="form-check-input" value="">
                        <label id="fontModal_lblUnderline" class="form-check-label" for="fontModal_chkUnderline">@dict.lblUnderline</label>
                    </div>
                    <button type="submit" class="d-none">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="fontModal_btnOK" class="btn btn-primary">@dict.btnOK</button>
                <button type="button" id="fontModal_btnCancel" class="btn btn-secondary" data-bs-dismiss="modal">@dict.btnCancel</button>
            </div>
        </div>
    </div>
</div>
