@page
@model MimicListModel
@inject EditorManager editorManager
@{
    Layout = "_MainLayout";
    dynamic dict = Locale.GetDictionary(Model.GetType().FullName);
    ViewBag.Title = dict.PageTitle;
}

<h1>@dict.PageTitle</h1>

<form method="post">
    @if (Model.HasError)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <div>@Model.ErrorMessage</div>
        </div>
    }
    <div class="card mb-3">
        <h5 class="card-header">@dict.OpenMimicHeader</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" id="txtFileName" class="form-control" placeholder="@dict.txtFileName_Placeholder" required asp-for="FileName">
                <button type="submit" id="btnOpen" class="btn btn-primary" asp-page-handler="Open">@dict.btnOpen</button>
            </div>
        </div>
    </div>
</form>

<form method="post">
    @{ var mimicGroups = editorManager.GetMimicGroups(); }
    @if (mimicGroups.Length > 0)
    {
        <h2>@dict.ActiveMimicsHeader</h2>

        foreach (var mimicGroup in mimicGroups)
        {
            <div class="card mb-3">
                <h5 class="card-header">@mimicGroup.Name</h5>
                <ul class="list-group list-group-flush">
                    @foreach (var mimic in mimicGroup.GetMimics())
                    {
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <a class="text-break py-2" asp-page="/MimicEdit" asp-route-key="@mimic.MimicKey" target="_blank">@mimic.FileName</a>
                            <div class="dropdown">
                                <button class="btn btn-light px-3" type="button" data-bs-toggle="dropdown">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button type="submit" class="dropdown-item" asp-page-handler="Save">@dict.btnSave</button></li>
                                    <li><button type="submit" class="dropdown-item" asp-page-handler="SaveAndClose">@dict.btnSaveAndClose</button></li>
                                    <li><button type="submit" class="dropdown-item" asp-page-handler="SaveWithoutSaving">@dict.btnSaveWithoutSaving</button></li>
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    }
</form>
