@page
@model MimicListModel
@inject EditorManager editorManager
@{
    Layout = "_MainLayout";
    dynamic dict = Locale.GetDictionary(Model.GetType().FullName);
    ViewBag.Title = dict.PageTitle;
}

<h1>@dict.PageTitle</h1>

<form method="post">
    @if (Model.HasError)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <div>@Model.ErrorMessage</div>
        </div>
    }
    <div class="card mb-3">
        <h5 class="card-header">@dict.OpenMimicHeader</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" id="txtFileName" class="form-control" placeholder="@dict.txtFileName_Placeholder" required asp-for="FileName">
                <button type="submit" id="btnOpenScheme" class="btn btn-primary">@dict.btnOpenMimic</button>
            </div>
        </div>
    </div>
</form>

@{ var mimicGroups = editorManager.GetMimicGroups(); }
@if (mimicGroups.Length > 0)
{
    <h2>@dict.ActiveMimicsHeader</h2>

    foreach (var mimicGroup in mimicGroups)
    {
        <div class="card mb-3">
            <h5 class="card-header">@mimicGroup.Name</h5>
            <div class="list-group list-group-flush">
                @foreach (var mimic in mimicGroup.GetMimics())
                {
                    <a asp-page="/MimicEdit" asp-route-key="@mimic.EditorKey" target="_blank" class="list-group-item list-group-item-action">@mimic.FileName</a>
                }
            </div>
        </div>
    }
}
